body {
    overflow-x: hidden;
}

main {
    background-color: #1F4690;
}

aside {
    background-color: #73A9AD;
}

nav {
    display: flex;
    color: lightblue;
    background-color: rgb(20, 71, 223);
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav ul li a {
    color: lightblue;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

nav .ikon{
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 3px;
}

nav ul li a:hover {
    color: black;
}

.burger-menu {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.burger-menu input {
    position: absolute;
    width: 40px;
    height: 29px;
    left: -10px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.burger-menu span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightblue;
    border-radius: 2px;
    transition: all 1s;
}

/* Hamburger animasi */
.burger-menu span:nth-child(2) {
    transform-origin: 0 0;
}

.burger-menu span:nth-child(4) {
    transform-origin: 0 100%;
}

.burger-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px); 
    background-color: rgb(255, 255, 255);
}

.burger-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
    background-color: aqua;
}

.burger-menu input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}



/* landscape desktop */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
    
}

/* mobile lanscape */
@media screen and (max-width: 576px) {
    .burger-menu {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: aqua;
        align-items: center;
        z-index: -1;
        transform: translate(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translate(0);
    }
}

#foto1 {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    border: 5px solid #F5F0BB;
}

.jumbotron {
    padding: 130px;
    text-align: center;
    font-size: 30px;
    color: lightblue;
    font-family: 'Brush Script MT';
    line-height: 1cm;
}

#affan {
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
}

#about {
    padding: 90px;
    text-align: justify;
    font-size: 30px;
    color: lightblue;
    line-height: 1cm;
}

h1 {
    text-align: center;
    color: solid white;
}

#product {
    padding: 90px;
    text-align: justify;
    font-size: 30px;
    color: lightblue;
    line-height: 1cm;
}

#contact {
    padding: 90px;
    text-align: justify;
    font-size: 30px;
    color: lightblue;
    line-height: 1cm;
}




















